
.dark-overlay{
    background: url(../assets/img/HeaderPic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    position: 100;
  }

  

#card-bild {
    
    box-shadow:10px 10px 10px #343A40;  
}

.Card .Title {
    text-align:center!important;
}
/*
#jonasCover {
    position: absolute;
    z-index: 9999;
    width: 20%;
    right: 10%;
    top: 23.5%;
    box-shadow:10px 10px 10px #343A40;  
}

.jonasCover {
    position: absolute;
    z-index: 9999;
    width: 15%;
    right: 10%;
    top: 62.5%;
    font-size: 1.5rem;
    text-align: center;
    
}
*/

.enLarge2 {
    transition: all .2s ease-in-out;
    z-index:1;
}

.enLarge2:hover {
    
    transform: scale(1.02);
}

@media screen and (max-width: 992px){

.card-img-overlay {
        position: relative!important;
        background-color: white;
    }
    
}

.albumpos {
    z-index: 9999;
}
@media (min-width: 992px) { 
.albumpos {
    margin-right:4rem;
    margin-top:8rem;
    }
}
@media (min-width: 1200px) { 

.albumpos {
        margin-right:5rem;
        margin-top:12rem;
        }   
}


.card {
    border: none;
}
/*@media (min-width: 768px) {
    .carousel {
        margin: 10px 10px 25px 10px;
        height: 850px!important;
        width: 1500px;
        
    }
}
@media (min-width: 768px) {
    .carousel.item {
        margin: 10px 10px 25px 10px;
        height: 850px!important;
        width: 1500px;
        
    }
}
*/

#table-bg {
    background-color:black;
    height:500px;
}