
/*
.navbar-collapse {
    display: inline-block;
    text-align: center;
}
*/
.brandTitle {
        font-size: 2rem;
        /*position: absolute;
        left: 50%;
        transform: translateX(-50%);
        */
}

.socialMedia {
 display:flex;
 flex-direction: row;
 position: relative;
 top:0.17rem;
  
}


@media (min-width: 768px) {
  .socialMedia {
    display:none;
  }
}
.inst-ikon {
  margin-right: 0rem;
  margin-left: 0.75rem;
}
.fa {
    /*
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;*/
  } 


  
  .navbar-brand {
    padding-left:1rem;
    
  }

  .navbar-toggle {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  
  .nav-link {
    padding-right: 0rem!important;
  }

  .fa-instagram {
    font-size: 1.5em;
  }
  .fa-facebook {
    font-size: 1.5em;
  }

  @media (min-width: 768px) {
  .navbar-brand
        {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            padding-left:0px;
        }
    }